<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <style>
        .bucket {
            border-bottom: solid #AAA 2px;
            clear: both;
            padding: 8px 0px;
        }
    </style>
</head>
<body>
<h1>{{ title }}</h1>

{% for bucket in buckets %}
    <div class="bucket">
    {% for photo in bucket %}
       <img src="./thumbs/{{  photo.filename }}" title="{{  photo.filename }}"/>
    {% endfor %}
    </div>

{% endfor %}


</body>
</html>